extends ../node_modules/jade-bootstrap/_bootstrap

head
  title = title
block body
  +navbar("Colenso Wesbite", "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/search", "active") Search
  .container
    h1 #{title}
    .container
    p  Contents:
    | !{text}
    .container
    p  Content in XML format:  
    <pre>
    p #{text2}
    </pre>