extends ../node_modules/jade-bootstrap/_bootstrap

head
  title = title
block body
  +navbar("ECS Movies", "dropdown_menu")
    +nav_item("/") Home
    +nav_item("/search", "active") Search
  .container
    h1 #{title}
    .container
    p|  Welcome to #{title}. Here is you search result #{placerr}.
    | You searched #{placer}.
    .container
      form(action="/search", method="get")
        input(type="text", name="searchString")
        input(type="submit")
  
